/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
*{
    font-family: 'Open Sans', sans-serif;    
}

:root{
    --first-color: #0084FD;
    --second-color: #B5DDFF;
    --third-color: #9593E6;
}