/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
*{
    font-family: 'Open Sans', sans-serif;    
}

:root{
    --first-color: #0084FD;
    --second-color: #B5DDFF;
    --third-color: #9593E6;
}

.color-blue{
    background-color: var(--first-color);
    color: white;
}

.color-violet{
    background-color: var(--third-color);
    color: white;
}

.color-lightblue{
    background-color: var(--second-color);
}

.color-white{
    background-color: white;
    color: black;
}

.container-large{
    margin: 0 1.25rem;
    text-align: center;
}

.container-small{
    margin: 0 1.875rem;
    text-align: center;
}

section{
    padding-top: .625rem;
    padding-bottom: .625rem;
}

/* HEADER */
.flex{
    display: flex;
    justify-content: space-between;
}



.nav-header{
    display: none;
}

/* MAIN */

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 100%;
    border-radius: .625rem;
}






/**************************************
            RESPONSIVE
 **************************************/
@media screen and (min-width: 768px) {
    /* HEADER */
    .card{
        width: calc((100% / 3) - 1.25rem);
        margin: .625rem .625rem;
    }

    .card-1-2{
        width: calc((100% / 3) * 2 - 1.25rem);
    }

    .row{
        display: flex;
    }

    .about-us{
        width: calc((100% / 3) * 2);
    }

}

@media screen and (min-width: 992px) {
    /* HEADER */
    .hamburger-nav{
        display: none;
    }

    .nav-header{
        display: block;
    }
    
}

